{% extends 'base.html' %}

{% block title %}
Liked Posts
{% endblock %}

{% block desc %}
BlogWizard | Liked Posts
{% endblock %}

{% block kwrds %}
'blogwizard','blog wizard','blog website','blogging wizard','blogwizard.live','blogwizarddotlive','liked posts'
{% endblock %}

{% block fdesc %}
BlogWizard | Liked Posts
{% endblock %}

{% block ftitle %}
Liked Posts
{% endblock %}

{% block furlink %}
https://www.blogwizard.live/posts/liked-posts/
{% endblock %}

{% block fthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block tdesc %}
BlogWizard | Liked Posts
{% endblock %}

{% block ttitle %}
Liked Posts
{% endblock %}

{% block turlink %}
https://www.blogwizard.live/posts/liked-posts/
{% endblock %}

{% block tthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}


{% block content %}
<div class="home-head">
    <div class="posts-container">
        <div class="left-side ">
            <div class="main-section">
                <div id="load_more">
                    <div class="lds-ring" id="spinner">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <button id="load_btn" onclick="loadmore()">
                        Load More
                    </button>
                    <p id="no_more_post">That is All</p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="side-box" style="height: 412px;">
                <p class="heading-name">POPULAR POSTS</p>
                <div class="side-post-group"></div>
            </div>
            <div class="side-box">
                <p class="heading-name">CATEGORIES</p>
                <ul>
                    <li><a href="{% url 'posts:posts_by_cat' 'education' %}">Education</a></li>
                    <li><a href="{% url 'posts:posts_by_cat' 'science-and-technology' %}">Science and Technology</a></li>
                    <li><a href="{% url 'posts:posts_by_cat' 'finance' %}">Finance</a></li>
                    <li><a href="{% url 'posts:posts_by_cat' 'other' %}">Other</a></li>
                </ul>
            </div>
            <div class="side-box">
                <p class="heading-name">TAGS</p>
                <div class="tags">
                    {% for tag in tags %}
                    <span class="tag" id="{{tag}}"><a href="/?tag={{tag}}">{{tag}}</a></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
<script>

    let page_number = 1;

    function loadPost(page_number) {
        url = `/posts/load-liked-posts/?page=${page_number}`
        $.ajax({
            method: 'GET',
            url: url,
            beforeSend: function () {
                $('#load_btn').hide()
                $('#spinner').show()
            },
            success: function (res) {
                data = res.data
                if (8 * page_number >= res.total_posts) {
                    $('#load_btn').hide()
                    $('#spinner').hide()
                    if (res.total_posts == 0) {
                        $('#no_more_post').html('No posts')
                        $('#no_more_post').show()
                    }
                    else {
                        $('#no_more_post').show()
                    }
                }
                else {
                    $('#load_btn').show()
                    $('#spinner').hide()
                }
                data.map(post => {
                    const d = new Date(post.created_date.substr(0, 10))
                    $('.main-section').append(`<div class="post">
                <div class="img">
                    <a href=/posts/post/${post.slug}>
                        <img src=${post.thumbnail} alt="">
                    </a>
                </div>
                <div class="post-detail">
                    ${post.tags.map(tag => { return `<span id='tag'><a href=/?tag=${tag.tag}>${tag.tag}</a></span>` }).join(' ')}
                    <a href=/posts/post/${post.slug}>
                        <p class="title">${post.title}</p>
                    </a>
                    <p class="publish-date" id="post-date">${d.toLocaleDateString('nl-NL')}</p>
                    </p>
                </div>
            </div>
            `)
                })
            },
            error: function () {
                $('.main-section').empty()
                $('#no_more_post').html('Data not found')
                $('#no_more_post').show()
            }
        })
    }


    loadPost(page_number)
    function loadmore() {
        page_number = page_number + 1;
        loadPost(page_number)
    }


    function popularPosts() {
        $.ajax({
            url: '/posts/popular-posts',
            success: function (res) {
                data = res.data
                data.map(post => {
                    const d = new Date(post.created_date.substr(0, 10))
                    $('.side-post-group').append(`
                <a href=/posts/post/${post.slug}>
                <div class="side-post">
                            <div class="img">
                            <img src=${post.thumbnail} alt="">
                        </div>    
                       
                        <div class="side-post-details">
                            <div class="side-post-title">${post.title}</div>
                            <div class="side-post-date">${d.toLocaleDateString('nl-NL')}</div>
                        </div>
                    </div>
                </a>
                    
                    `)
                })
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
    popularPosts()
</script>
{% endblock %}