{% extends 'base.html' %}

{% block title %}
Activate Account
{% endblock %}

{% block content %}
<div class="wrapper">
    <div>
        <div class="user-form box-shadow">
            <p style="font-size: 1.5rem; font-weight: 400;">Activate Account</p>
            <form action="{% url 'accounts:activate_account' %}" method="post">
                {% csrf_token %}
                <div class="form-item">
                    <label for="id_email">Enter your email address</label>
                    <input type="email" name="email" id="id_email">
                </div>
                <div class="form-item">
                    <input type="submit" class="sub-btn" value="Activate Account">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}