{% extends 'base.html' %}

{% block title %}
Activate Account
{% endblock %}

{% block desc %}
BlogWizard | Activate Account
{% endblock %}

{% block kwrds %}
'blogwizard','blog wizard','blog website','blogging wizard','blogwizard.live','blogwizarddotlive','Activate Account'
{% endblock %}

{% block fdesc %}
BlogWizard | Activate Account
{% endblock %}

{% block ftitle %}
Activate Account
{% endblock %}

{% block furlink %}
https://www.blogwizard.live/accounts/activate-account
{% endblock %}

{% block fthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block tdesc %}
BlogWizard | Activate Account
{% endblock %}

{% block ttitle %}
Activate Account
{% endblock %}

{% block turlink %}
https://www.blogwizard.live/accounts/activate-account
{% endblock %}

{% block tthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block content %}
<div class="wrapper">
    <div>
        <div class="user-form">
            <p style="font-size: 1.5rem; font-weight: 400;">Activate Account</p>
            <form action="{% url 'accounts:activate_account' %}" method="post">
                {% csrf_token %}
                <div class="form-item">
                    <label for="id_email">Enter your email address</label>
                    <input type="email" name="email" id="id_email">
                </div>
                <div class="form-item">
                    <input type="submit" class="sub-btn" value="Activate Account">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}