{% extends 'base.html' %}

{% block title %}
Deactivate Account
{% endblock %}

{% block desc %}
BlogWizard | Deactivate Account
{% endblock %}

{% block kwrds %}
'blogwizard','blog wizard','blog website','blogging wizard','blogwizard.live','blogwizarddotlive','Deactivate Account'
{% endblock %}

{% block fdesc %}
BlogWizard | Deactivate Account
{% endblock %}

{% block ftitle %}
Deactivate Account
{% endblock %}

{% block furlink %}
https://www.blogwizard.live/accounts/deactivate-account
{% endblock %}

{% block fthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block tdesc %}
BlogWizard | Deactivate Account
{% endblock %}

{% block ttitle %}
Deactivate Account
{% endblock %}

{% block turlink %}
https://www.blogwizard.live/accounts/deactivate-account
{% endblock %}

{% block tthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}


{% block content %}
<div class="wrapper">
    <div>
        <div class="user-form">
            <p style="font-size: 1.5rem; font-weight: 400;">Deactivate Account</p>
           <form action="{% url 'accounts:deactivate_account' %}" method="post">
            {% csrf_token %}
            <div class="form-item">
                <label for="id_email">type : "{{request.user.email}}" in the box given below.</label>
                <input type="email" name="email" id="id_email">
            </div>
            <div class="form-item">
                <input type="submit" class="sub-btn" value="Deactivate Account">
            </div>
           </form>
        </div>
    </div>
</div>

{% endblock %}