{% extends 'base.html' %}

{% block title %}
Deactivate Account
{% endblock %}

{% block content %}
<div class="wrapper">
    <div>
        <div class="user-form">
            <p style="font-size: 1.5rem; font-weight: 400;">Deactivate Account</p>
           <form action="{% url 'accounts:deactivate_account' %}" method="post">
            {% csrf_token %}
            <div class="form-item">
                <label for="id_email">type : "{{request.user.email}}" in the box given below.</label>
                <input type="email" name="email" id="id_email">
            </div>
            <div class="form-item">
                <input type="submit" class="sub-btn" value="Deactivate Account">
            </div>
           </form>
        </div>
    </div>
</div>

{% endblock %}