{% extends 'base.html' %}
{% load static %}

{% block title %}
Forgot Password
{% endblock %}

{% block desc %}
BlogWizard | Forgot Password
{% endblock %}

{% block kwrds %}
'blogwizard','blog wizard','blog website','blogging wizard','blogwizard.live','blogwizarddotlive','Forgot Password'
{% endblock %}

{% block fdesc %}
BlogWizard | Forgot Password
{% endblock %}

{% block ftitle %}
Forgot Password
{% endblock %}

{% block furlink %}
https://www.blogwizard.live/accounts/forgot_password/
{% endblock %}

{% block fthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block tdesc %}
BlogWizard | Forgot Password
{% endblock %}

{% block ttitle %}
Forgot Password
{% endblock %}

{% block turlink %}
https://www.blogwizard.live/accounts/forgot_password/
{% endblock %}

{% block tthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block content %}


<div class="user-form">
    <p style="font-size: 1rem; font-weight: 400;">Forgot Password</p>
    <form action="{% url 'accounts:forgot_password' %}" method="POST">
        {% csrf_token %}
        <div class="form-item">
            <label for="id_email">Email</label>
            <input type="email" name="email" id="id_email">
        </div>
        <div class="form-item">
            <input type="submit" class="sub-btn" value="Continue">
        </div>
    </form>

</div>

{% endblock %}








