{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password {% endblock %}

{% block content %}


<div class="user-form">
    <p style="font-size: 1rem; font-weight: 400;">Forgot Password</p>
    <form action="{% url 'accounts:forgot_password' %}" method="POST">
        {% csrf_token %}
        <div class="form-item">
            <label for="id_email">Email</label>
            <input type="email" name="email" id="id_email">
        </div>
        <div class="form-item">
            <input type="submit" class="sub-btn" value="Continue">
        </div>
    </form>

</div>

{% endblock %}








