{% extends 'base.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block desc %}
BlogWizard | Reset Password
{% endblock %}

{% block kwrds %}
'blogwizard','blog wizard','blog website','blogging wizard','blogwizard.live','blogwizarddotlive','Reset Password'
{% endblock %}

{% block fdesc %}
BlogWizard | Reset Password
{% endblock %}

{% block ftitle %}
Reset Password
{% endblock %}

{% block furlink %}
https://www.blogwizard.live/accounts/reset_password/
{% endblock %}

{% block fthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block tdesc %}
BlogWizard | Reset Password
{% endblock %}

{% block ttitle %}
Reset Password
{% endblock %}

{% block turlink %}
https://www.blogwizard.live/accounts/reset_password/
{% endblock %}

{% block tthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block content %}


<div class="user-form">
    <p style="font-size: 1.5rem; font-weight: 400;">Reset Password</p>

    <form action="{% url 'accounts:reset_password' %}" method="POST">
        {% csrf_token %}
        <div class="form-item">
            <label for="id_password">Password</label>
            <input type="password" name="password" id="id_password">
        </div>
        <div class="form-item">
            <label for="id_password">Password</label>
            <input type="password" name="confirm_password" id="id_password">
        </div>
        <div class="form-item">
            <input type="submit" class="sub-btn" value="continue">
        </div>
    </form>
</div>

{% endblock %}








