{% extends 'base.html' %}

{% block title %}
User Account
{% endblock %}

{% block desc %}
BlogWizard | User Account
{% endblock %}

{% block kwrds %}
'blogwizard','blog wizard','blog website','blogging wizard','blogwizard.live','blogwizarddotlive','User Account'
{% endblock %}

{% block fdesc %}
BlogWizard | User Account
{% endblock %}

{% block ftitle %}
User Account
{% endblock %}

{% block furlink %}
https://www.blogwizard.live/
{% endblock %}

{% block fthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block tdesc %}
BlogWizard | User Account
{% endblock %}

{% block ttitle %}
User Account
{% endblock %}

{% block turlink %}
https://www.blogwizard.live/
{% endblock %}

{% block tthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block content %}
<div class="wrapper">
    User account
</div>
{% endblock %}