{% extends 'base.html' %}

{% block title %}
500 Error
{% endblock %}

{% block desc %}
BlogWizard | 500 Error
{% endblock %}

{% block kwrds %}
'blogwizard','blog wizard','blog website','blogging wizard','blogwizard.live','blogwizarddotlive','500 page'
{% endblock %}

{% block fdesc %}
BlogWizard | 500 Error
{% endblock %}

{% block ftitle %}
500 Error
{% endblock %}

{% block furlink %}
https://www.blogwizard.live
{% endblock %}

{% block fthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block tdesc %}
BlogWizard | 500 Error
{% endblock %}

{% block ttitle %}
500 Error
{% endblock %}

{% block turlink %}
https://www.blogwizard.live/
{% endblock %}

{% block tthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}



{% block content %}
<h2 style="text-align: center;">500 Error</h2>
{% endblock %}