{% extends 'base.html' %}

{% block title %}
Privacy Policy
{% endblock %}

{% block desc %}
BlogWizard | Privacy Policy
{% endblock %}

{% block kwrds %}
'blogwizard','blog wizard','blog website','blogging wizard','blogwizard.live','blogwizarddotlive','Privacy Policy'
{% endblock %}

{% block fdesc %}
BlogWizard | Privacy Policy
{% endblock %}

{% block ftitle %}
Privacy Policy
{% endblock %}

{% block furlink %}
https://www.blogwizard.live/privacy-policy
{% endblock %}

{% block fthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block tdesc %}
BlogWizard | Privacy Policy
{% endblock %}

{% block ttitle %}
Privacy Policy
{% endblock %}

{% block turlink %}
https://www.blogwizard.live/privacy-policy
{% endblock %}

{% block tthumb %}
https://blogwizardstorage.blob.core.windows.net/media/post_thumbnails/BlogWizard.webp
{% endblock %}

{% block content %}
<div class="wrapper box-shadow">
    <p style="font-size: 1.3rem;">Privacy Policy</p>
    <p></p>
</div>
{% endblock %}